.introducing 
    margin: 100px auto
    img
        max-width: 32px
        border-radius: 0
    


@media screen and (max-width: 600px)
    .introducing 
        margin: 40px auto
        img
            max-width: 24px
            border-radius: 0
