
.big-list
    outline: 1px solid red
    li
        list-style-type: none
        padding: 12px 0px
        outline: 1px solid yellow
        display: block
        border-top: solid 1px #000000
        border-bottom: solid 1px #000000
        font-size: 21px
        &first-child
            border-top: solid 0px #000000
        &last-child
            border-bottom: solid 0px #000000


