.site-container
  outline: 5px solid red
  max-width: 960px
  margin: 0 auto
  padding: 20px

.site-container 
  img
    width: 100%
    height: auto

.left
  outline: 1px solid yellow
  display: block
  flex-grow: 1
  flex-shrink: 1
  flex-basis: auto
  align-self: auto
  order: 0

.right
  outline: 1px solid green
  display: block
  flex-grow: 0
  flex-shrink: 1
  flex-basis: auto
  align-self: auto
  order: 0

.logo
  outline: 1px solid orange
  font-size: 24px

.main-nav
  outline: 1px solid purple
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: normal
  align-items: normal
  align-content: normal
  padding: 20px 0px
