.project-unit
  outline: 10px solid orange
  height: auto

.project-container
  max-width: 960px
  margin: 0 auto
  
.grid-row    
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  width: 100%
  flex-wrap: wrap

.grid-item
  flex: 0 0 45%

