.project-unit
  height: auto
  h5
    font-weight: 700

.project-container
  max-width: 1440px
  margin: 0 auto
  min-height: 0
  
.grid-row    
  display: flex
  flex-wrap: wrap
  flex-direction: row
  width: 100%
  align-content: center
  gap: 1%
  

.grid-item
  flex: 0 0 32%
  flex-basis: 32%
  img
    border-radius: 6px
  h5
    line-height: 0
    padding: 0
    margin: 0

.label-list
  margin: 24px 0px
  list-style-type: none
  padding: 0
  text-align: center
  a
    display: inline-block
    padding: 8px 20px
    margin: 2px 2px
    border-radius: 120px
    border: 1px solid #000000
    font-weight: 400
    font-size: 18px
    cursor: pointer
    &:hover
      background-color: #eff078
    


.big-list
    padding: 0px
    list-style-type: none
    li
        padding: 12px 0px
        display: block
        border-top: solid 0.25px #000000
        font-size: 16px
        &:first-child
            border-top: 0px

.image-row
  display: flex
  flex-wrap: wrap
  justify-content: space-around

.responsive-image
  max-width: 100%
  height: auto

.row-two
  flex: 1 0 48%
  max-width: 48%
  margin: 1%

.row-two
  flex: 1 0 31%
  max-width: 31%
  margin: 1%


@media only screen and (max-width: 600px)
  .grid-row
    gap: 0
  .grid-item
    flex: 0 0 100%
    flex-basis: 100%
  label-list
    a
      font-size: 12px
      padding: 4px 8px