.project-container
  outline: 1px solid red
  max-width: 750px
  margin: 0px auto 0px
  padding: 30px
  +clearfix
  .project-unit
    outline: 1px solid green
    cursor: pointer
    display: block
    width: 400px
    height: 400px
    margin: 0px auto 30px
    position: relative
    overflow: hidden
    background:
      position: center center
      repeat: no-repeat
      size: cover

@media (max-width: 768px)
  .project-container
    max-width: 80vw
    .project-unit
      width: 80vw
      height: 40vw
