@font-face {
  font-family: "MonaspaceXenonVarVF";
  src: url("../../assets/fonts/MonaspaceXenonVarVF[wght,wdth,slnt].woff") format("woff-variations");
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono-Regular";
  src: url("../../assets/fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-style: normal;
}
@font-face {
  font-family: "JetBrainsMono-SemiBold";
  src: url("../../assets/fonts/JetBrainsMono-SemiBold.woff2") format("woff2");
  font-style: normal;
}