@font-face {  font-family: "MyVariableFontName";
  src: url("assets/fonts/MonaspaceXenonVarVF[wght,wdth,slnt].ttf") format("truetype");
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: normal;
}
