@font-face {
  font-family: "MonaspaceXenonVarVF";
  src: url("../../assets/fonts/MonaspaceXenonVarVF[wght,wdth,slnt].woff") format("woff-variations");
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: normal;
}
