<script>
// get all the filter buttons
const filterButtons = document.querySelectorAll('.filter-button');

// add event listener for each button
filterButtons.forEach(function(button) {
    button.addEventListener('click', function(e) {
        // get the category from the clicked button
        const category = e.target.getAttribute('data-category').toLowerCase();

        // get all the posts
        const posts = document.querySelectorAll('.grid-item');

        // iterate over the posts
        posts.forEach(function(post) {
            const postCategory = post.getAttribute('data-category').toLowerCase();

            // if the post's category matches the button's category, show it, otherwise hide it
            if (postCategory === category) {
                post.style.display = 'block';
            } else {
                post.style.display = 'none';
            }
        });
    });
});
</script>
<header>
  <div class="main-nav">
    <div class="left logo">
      <a href="{{ site.github.url }}/">{{ site.title }}</a>
    </div>
    <nav class="right">
      {% for item in site.data.settings.menu %}
        <a href="{{ site.github.url }}/{{ item.url }}">{{ item.name }}</a>
      {% endfor %}
    </nav>  
  </div>

</header>
