<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

<script>
  var $grid = $('.grid').imagesLoaded( function() {
      $grid.isotope({});
  });
  $('.filter-button-group').on( 'click', 'a', function() {
      var filterValue = $(this).attr('data-filter');
      $grid.isotope({ filter: filterValue });
   });
   $('.button-group a.btn').on('click', function(){
      $('.button-group a.btn').removeClass('active');
      $(this).addClass('active');
   });
</script>
<header>
  <div class="main-nav">
    <div class="left logo">
      <a href="{{ site.github.url }}/">{{ site.title }}</a>
    </div>
    <nav class="right">
      {% for item in site.data.settings.menu %}
        <a href="{{ site.github.url }}/{{ item.url }}">{{ item.name }}</a>
      {% endfor %}
    </nav>  
  </div>

</header>
