<section>
  <div class="project-container">
    <div class="grid-row">
      {% for project in site.data.settings.projects %}
          <div class="project-unit grid-item" data-folder="{{ site.github.url }}/projects/{{ project.url }}">
            <a href="{{ site.github.url }}/projects/{{ project.url }}">
            <img src="{{ site.github.url }}/assets/img/projects/{{ project.url }}/thumbnail.jpg">
            <h5>{{ project.name }}</h5>
            </a>
          </div>
          {% for category in project.categories %}
          <div class="data-category">{{ category }}</div>
          {% endfor %}
      {% endfor %}
    </div>
  </div>
</section>
