
<div class="label-list">
  <a class="filter-button label active" data-category="all">All</a>
  <a class="filter-button label" data-category="pink">Product design</a>
  <a class="filter-button label" data-category="green">Illustration</a>
  <a class="filter-button label" data-category="blue">Brand and marketing</a>
  <a class="filter-button label" data-category="industrial">Industrial design</a>
</div>

<section>
  <div class="project-container">
    <div class="grid-row">
      {% for project in site.data.settings.projects %}
        {% for category in project.categories %}
          <div class="project-unit grid-item" data-category="{{ category }}" data-folder="{{ site.github.url }}/projects/{{ project.url }}">
            <a href="{{ site.github.url }}/projects/{{ project.url }}">
            <img src="{{ site.github.url }}/assets/img/projects/{{ project.url }}/thumbnail.jpg">
            <h5>{{ project.name }}</h5>
            </a>
          </div>
          {% endfor %}
      {% endfor %}
    </div>
  </div>
</section>
<script>
 // get all the filter buttons
const filterButtons = document.querySelectorAll('.filter-button');

// add event listener for each button
filterButtons.forEach(function(button) {
    button.addEventListener('click', function(e) {
        // get the categories from the clicked button
        const categories = e.target.getAttribute('data-category').toLowerCase().split(' ');

        // get all the posts
        const posts = document.querySelectorAll('.grid-item');

        // iterate over the posts
        posts.forEach(function(post) {
            const postCategories = post.getAttribute('data-category').toLowerCase().split(' ');

            // if the button's category is 'all', show all posts
            if (categories[0] === 'all') {
                post.style.display = 'block';
            }
            // otherwise, if the post's categories include all the button's categories, show it, otherwise hide it
            else if (categories.every(cat => postCategories.includes(cat))) {
                post.style.display = 'block';
            } else {
                post.style.display = 'none';
            }
        });
    });
});

  </script>