---
---

//------------------------------------------------
// Set some colors as sass variables

$accent-color: #2c68fa
$accent: #2c68fa
$accent-light: adjust-hue(saturate(lighten($accent, 11%), 12.6%), 14%)
$selectionColor: #000000

$textColor: #000000
$headlineColor: #000000
$bgcolor: #fff
$documentBackgroundColor: #fff

@import '1-tools/-tools-dir'
@import '2-base/-base-dir'
@import '3-sections/-sections-dir'
