/*	Typography presets
  ------------------------------------	*/

body
  background: $documentBackgroundColor
  font-size: 14px
  line-height: 1.6
  color: $textColor
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%
  font-family: "degular-variable", sans-serif
  font-variation-settings: "ital" 0, "opsz" 14, "wght" 200

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6
  color: $headlineColor
  font-variation-settings: "ital" 0, "opsz" 14, "wght" 800

.gigantic
  font-size: 110px
  line-height: 1.09
  letter-spacing: -2px

.huge, h1
  font-size: 68px
  line-height: 1.28
  letter-spacing: -1px

.large, h2
  font-size: 72px
  line-height: 1.28

.bigger, h3
  font-size: 26px
  line-height: 1.38

.big, h4
  font-size: 22px
  line-height: 1.38

.small, small
  font-size: 10px
  line-height: 1.2

ul, li, p
  font-size: 19px
  
em
  font-style: italic

strong
  font-weight: bold

hr
  border: solid #ddd
  border-width: 1px 0 0
  clear: both
  margin: 10px 0 30px
  height: 0

video
  width: 100%
  height: auto


/* Links
  ------------------------------------	*/
a
  text-decoration: underline
  outline: 0
  color: $accent

p a, nav a
  text-decoration: underline
  
a:hover, a:focus
  color: lighten($accent, 20%)

a span:hover
  color: #ffffff




/* Selection colors (easy to forget)
  ------------------------------------	*/

::selection
  background: #eff078

::-moz-selection
  background: #eff078

img::selection
  background: transparent

img::-moz-selection
  background: transparent

body
  -webkit-tap-highlight-color: #eff078
  



/* Basic Styles
  ------------------------------------	*/
body
  background: $documentBackgroundColor
  font-size: 19px
  line-height: 1.6
  color: $textColor
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%
  font-family: "degular-variable", sans-serif
  font-variation-settings: "ital" 0, "opsz" 14, "wght" 400

  
@media screen and (max-width: 480px)
