---
layout: default
---
🚧 under construction 🚧
<h4>I'm a product designer that understands the various quirks of payment systems, two sided marketplaces, and the creator economy.</h4>
<ul class="big-list">
    <li><img src=""> GitHub <span style="resume-date">2020 - Now</span></li>
    <li><img src=""> Patreon <span style="resume-date"></span>2016 - 2024</span></li>
    <li><img src=""> Photojojo <span style="resume-date">2012 - 2016</span></li>
</ul>

<h4>Work</h4>
<a class="label" href="">Product design</a>
<a class="label" href="">UX Research</a>
<a class="label" href="">Illustration</a>
{% include projects.html %}