---
layout: default
---
🚧 under construction 🚧
<div class="introducing">
</h2>
<h2>I'm a product designer, illustrator, and eclectic creative based in California. Currently <span style-="max-width:24px;display:inline-block"><img src="../../assets/img/mona-face.png"></span> GitHub, previously <span style-="max-width:24px;display:inline-block"><img src="../../assets/img/patreon-logo.png"></span> Patreon, and <span style-="max-width:24px;display:inline-block"><img src="../../assets/img/photosjojo.gif"></span>Photojojo.
</div>

{% include projects.html %}